#footer {
	font-size: 0.8em;
	border-top: 1px solid #eee;
	height: 37px;
	line-height: 36px;
	margin-left: -8px;
	margin-right: -8px;
	margin-top: 4px;
	text-align: center;
	margin: 0;
	color: #888;
}